---
import '../styles/side-panel.css';
import github from '../icons/github.svg?raw';
import mastodon from '../icons/mastodon.svg?raw';
import x from '../icons/x.svg?raw';
import linkedin from '../icons/linkedin.svg?raw';
import email from '../icons/email.svg?raw';
import open from '../icons/menu.svg?raw';
import close from '../icons/close.svg?raw';

---

<div class="side-panel">
  <div id="menu" class="menu menu--open">
    <div class="open">
      <Fragment set:html={open} />
    </div>
    <div class="close">
      <Fragment set:html={close} />
    </div>
  </div>
  <a href="/" class="card-person">
    <figure>
      <img src="/avatar.jpg" alt="An image of Shawn Yisiou Wu">
    </figure>
    <h2 class="card-person__title">
      Shawn Yisiou Wu
    </h2>
  </a>
  <hr>
  <nav class="main-nav">
    <a href="/biography">Biography</a>
    <a href="/projects">Projects</a>
    <!-- <a href="/blog">Blog</a> -->
    <a href="/cv">CV</a>
    <a href="/meet">Meet</a>
  </nav>
  <hr>
  <nav class="social">
    <a href="https://github.com/nanasnumber" target="_blank">
      <Fragment set:html={github} />
    </a>

    <a href="https://mastodon.social/@nanasnumber" target="_blank">
      <Fragment set:html={mastodon} />
    </a>

    <a href="https://twitter.com/nanasnumber" target="_blank">
      <Fragment set:html={x} />
    </a>

    <a href="https://www.linkedin.com/in/shawnyisiouwu/" target="_blank">
      <Fragment set:html={linkedin} />
    </a>

    <a href="mailto:shawnyisiouwu@gmail.com" target="_blank">
      <Fragment set:html={email} />
    </a>
  </nav>
</div>

